<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <%= stylesheet_link_tag "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    <title> URL </title>

  </head>
<body>
  <%= render "common/navbar"%>

  <div class= "container">
    <div class="row">
      <div class="col-md-12">
        <h3> Product Analysis </h3>
          <table class="table table-bordered table-striped" >
            <thead>
              <tr>
                <td> <strong> Title </strong></td>
                <td> <strong> Price </strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <%= @title %> </td>
                <td> <%= @price %> </td>
              </tr>

            </tbody>
          </table>
          <table class="table table-bordered table-striped" >
            <thead>
              <tr>
                <td> <strong> Product Content </strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% str="" %>
                <% @array.each { |u| str= str+ u + "<br />" unless u.blank? } %>
                <td>  <%= str.html_safe %> </td>
              </tr>

            </tbody>
          </table>

      </div>
    </div>
  </div>
</html>